<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>ut-api</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>接口</title>
<modname>接口</modname>
<ver>6.0</ver>
<description>适用于远程获取数据的Api接口，支持APP、网页等应用。</description>
<itemid>3</itemid>
<ordernum>2</ordernum>
<modurl>index.php</modurl>
<befoitem>NULL</befoitem>
<backitem>接口配置:index.php,在线调试:test.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_api_set`;
CREATE TABLE `cms_api_set` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `white` text,
  `opentable` text,
  `authtable` varchar(50) DEFAULT NULL,
  `authquery` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
INSERT INTO `cms_api_set` VALUES (1,NULL,NULL,'cms_admin','username=[0] and password=[1]');]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_api_set`;]]></uninstallsql>
</mod>