<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>ut-plugin</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>插件</title>
<modname>插件</modname>
<ver>8.0</ver>
<description>插件管理模块。</description>
<itemid>3</itemid>
<ordernum>94</ordernum>
<modurl>index.php</modurl>
<befoitem>NULL</befoitem>
<backitem>插件市场:plugin.php,管理插件:index.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_plugin`;
CREATE TABLE `cms_plugin` (
  `id` int(11) NOT NULL,
  `pid` varchar(50) DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `auther` varchar(50) DEFAULT NULL,
  `title` varchar(50) DEFAULT NULL,
  `ver` varchar(10) DEFAULT NULL,
  `description` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_plugin`;]]></uninstallsql>
</mod>