<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>ut-system</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>配置</title>
<modname>配置</modname>
<ver>8.0</ver>
<description>配置管理模块。</description>
<itemid>3</itemid>
<ordernum>97</ordernum>
<modurl>index.php</modurl>
<befoitem>NULL</befoitem>
<backitem>系统:index.php,语言:lang.php,搜索:search.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_search`;
CREATE TABLE IF NOT EXISTS `cms_search` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hit` int(11) DEFAULT '1',
  `keyword` varchar(100) DEFAULT NULL,
  `lang` varchar(20) DEFAULT 'zh',
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `cms_search_set`;
CREATE TABLE IF NOT EXISTS `cms_search_set` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dbs` varchar(50) DEFAULT NULL,
  `fields` varchar(100) DEFAULT NULL,
  `wheres` varchar(200) DEFAULT NULL,
  `pages` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_search`;DROP TABLE `cms_search_set`;]]></uninstallsql>
</mod>