<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>ut-frame</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>UT公共模块</title>
<modname>UT公共模块</modname>
<ver>8.0</ver>
<description>UT公共模块，可废弃但不可卸载。</description>
<itemid>3</itemid>
<ordernum>92</ordernum>
<modurl>NULL</modurl>
<befoitem>NULL</befoitem>
<backitem>NULL</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_update`;
CREATE TABLE `cms_update` (
  `id` int(11) NOT NULL,
  `updateid` int(11) DEFAULT NULL,
  `updatetime` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_update`;]]></uninstallsql>
</mod>