<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>ut-module</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>模块</title>
<modname>模块</modname>
<ver>8.0</ver>
<description>模块管理模块。</description>
<itemid>3</itemid>
<ordernum>93</ordernum>
<modurl>index.php</modurl>
<befoitem>NULL</befoitem>
<backitem>模块市场:module.php,管理模块:index.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_module`;
CREATE TABLE `cms_module` (
  `id` int(11) NOT NULL,
  `bid` int(11) DEFAULT '0',
  `mid` varchar(50) DEFAULT NULL,
  `modname` varchar(100) DEFAULT NULL,
  `modurl` varchar(200) DEFAULT NULL,
  `isopen` int(11) DEFAULT '0',
  `ordernum` int(11) DEFAULT '0',
  `look` int(11) DEFAULT '0',
  `othername` varchar(100) DEFAULT NULL,
  `befoitem` varchar(250) DEFAULT NULL,
  `backitem` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
INSERT INTO `cms_module` VALUES (1, 3, 'ut-frame', 'UT公共模块', 'index.php', 1, 92, 0, '', NULL, NULL);
INSERT INTO `cms_module` VALUES (2, 3, 'ut-module', '模块', 'index.php', 1, 93, 0, '', '', '模块市场:module.php,管理模块:index.php');
INSERT INTO `cms_module` VALUES (3, 3, 'ut-plugin', '插件', 'index.php', 1, 94, 0, '', '', '插件市场:plugin.php,管理插件:index.php');
INSERT INTO `cms_module` VALUES (4, 3, 'ut-template', '模板', 'index.php', 1, 95, 0, '', '', '创建模板:template_creat.php,管理模板:index.php');
INSERT INTO `cms_module` VALUES (5, 3, 'ut-cac', 'CAC', 'index.php', 1, 96, 0, '', '', '');
INSERT INTO `cms_module` VALUES (6, 3, 'ut-system', '配置', 'index.php', 1, 97, 1, '', '', '系统:index.php,语言:lang.php');
INSERT INTO `cms_module` VALUES (7, 3, 'ut-data', '数据', 'index.php', 1, 98, 1, '', '', '表管理:index.php,SQL查询:sql.php,备份还原:backup.php');
INSERT INTO `cms_module` VALUES (8, 3, 'ut-power', '权限', 'admin.php', 1, 99, 1, '', '', '角色:role.php,管理员:admin.php,登陆日志:log.php');]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_module`;]]></uninstallsql>
</mod>