<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>ut-cac</id>
<type>3</type>
<auther>官方</auther>
<title>CAC</title>
<ver>8.0</ver>
<description>UT CAC工具。</description>
<itemid>3</itemid>
<sorting>96</sorting>
<starturl>index.php</starturl>
<befoitem>NULL</befoitem>
<backitem>NULL</backitem>
<installsql><![CDATA[0]]></installsql>
<uninstallsql><![CDATA[0]]></uninstallsql>
</mod>