<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>ut-template</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>模板</title>
<modname>模板</modname>
<ver>8.0</ver>
<description>模板管理模块。</description>
<itemid>3</itemid>
<ordernum>95</ordernum>
<modurl>index.php</modurl>
<befoitem>NULL</befoitem>
<backitem>模板市场:template.php,创建模板:template_creat.php,管理模板:index.php</backitem>
<installsql><![CDATA[0]]></installsql>
<uninstallsql><![CDATA[0]]></uninstallsql>
</mod>