<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>ut-power</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>权限</title>
<modname>权限</modname>
<ver>8.0</ver>
<description>权限管理模块。</description>
<itemid>3</itemid>
<ordernum>99</ordernum>
<modurl>admin.php</modurl>
<befoitem>NULL</befoitem>
<backitem>角色:role.php,管理员:admin.php,登陆日志:log.php</backitem>
<installsql><![CDATA[DROP TABLE IF EXISTS `cms_admin`;
CREATE TABLE `cms_admin` (
  `id` int(11) NOT NULL,
  `roleid` int(11) NOT NULL DEFAULT '1',
  `username` varchar(50) NOT NULL,
  `password` varchar(50) NOT NULL,
  `salts` varchar(20) NOT NULL,
  `avatar` varchar(250) DEFAULT NULL,
  `addtime` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `cms_admin_log`;
CREATE TABLE `cms_admin_log` (
  `id` int(11) NOT NULL,
  `username` varchar(50) NOT NULL,
  `ip` varchar(50) NOT NULL,
  `logintime` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
DROP TABLE IF EXISTS `cms_admin_role`;
CREATE TABLE `cms_admin_role` (
  `id` int(11) NOT NULL,
  `role` varchar(50) NOT NULL,
  `module` varchar(250) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`)) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;
INSERT INTO `cms_admin` VALUES (1, 1, 'admin', 'd9c51907cc016f4ad6164423c3ddd04f025aa037', 'qHCgJ', '', '2021-08-08 00:00:00');INSERT INTO `cms_admin_role` VALUES (1, '超级管理', 'ut-frame,ut-module,ut-plugin,ut-template,ut-cac,ut-system,ut-data,ut-power');]]></installsql>
<uninstallsql><![CDATA[DROP TABLE `cms_admin`;DROP TABLE `cms_admin_log`;DROP TABLE `cms_admin_role`;]]></uninstallsql>
</mod>