<?xml version='1.0' encoding='UTF-8'?>
<mod>
<id>ut-data</id>
<modtype>3</modtype>
<auther>官方</auther>
<title>数据</title>
<modname>数据</modname>
<ver>8.0</ver>
<description>UT数据管理工具。</description>
<itemid>3</itemid>
<ordernum>98</ordernum>
<modurl>index.php</modurl>
<befoitem>NULL</befoitem>
<backitem>表管理:index.php,SQL查询:sql.php,备份还原:backup.php</backitem>
<installsql><![CDATA[0]]></installsql>
<uninstallsql><![CDATA[0]]></uninstallsql>
</mod>